.clock-face {
    position: absolute;
    top: 325px;
    left: 532px;
    transform: translateX(-35%) translateY(-35%);
    color: lawngreen;
    font-size: 42px;
    font-family: monospace ;
    letter-spacing: 9px;
    background-color: #394b2d;
}
body {
    background-color:#e1e1e1;
}
/* #clock-body {
    border: dashed 1em;
    background-color: #180044;
    border-radius: 11em;
    height: 20em;
    width: 35em;
    position: absolute;
    top: 15%;
    left: 10%;
} */

img {
    height: 40em;
    width: 55em;
}